.year-selector{
  margin-top: 20px;
  margin-left: 10px;
  width: 50%;
}

.genre-selector{
  margin-left: 10px;
  width: 50%;
}

.selector-title {
  margin-left: 10px;
}

.film-table {
  margin-left: 30px;
  margin-right: 30px;
}

.form-button {
  float: right;
  margin-right: 20px;
}

.back-button {
  margin-left: 20px;
  float: left;
}
